KUCOIN_KEY=
KUCOIN_SECRET=
KUCOIN_PASSPHRASE=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

DRY_RUN=true
ENTRY_USDT=20
STOP_DELTA_USDT=1
STOP_ABS_USDT=18
MAX_OPERACIONES_ACTIVAS=30
MAX_CONCURRENCY=12
SCAN_INTERVAL=900
CHECK_INTERVAL=600
SYNC_POS_INTERVAL=900
STARTUP_DELAY_FOR_PHASE1=60
COOLDOWN_SECS=14400
MIN_24H_TURNOVER_USDT=50000
TRAILING_ATR_ON=false
